.post-title {
  margin-top: 0;
  margin-bottom: 4rem;
  font-size: 1rem; 
}

.post {
  background: white;
  margin: 2em auto;
  max-width: 60rem;
  padding: 2em 0;
  box-shadow: 12px 18px 24px rgba(darken($brand-color, 50%), .1);
}

.post > * {
  padding: 0 15px;
}

.post-content *
{
  max-width: 36rem;
  margin-left: auto;
  margin-right: auto;
}

.post > h1 {
  font-size: 2em;
  max-width: 48rem;
  padding: 2em 1em;
  text-align: center;
}

.post p {
  // text-align: justify;
  // text-indent: 1.5em;
  margin-top: 0.5em;
  // text-justify: inter-word;
}

.post h2:first-child
{
  font-size: 1.2em;
  margin-bottom: 1em;
  color: #555 !important;
  text-align: left;
  font-family: $h2font, monospace;
}

.post p:first-of-type,
.post h2 + p {
  text-indent: 0;
  margin-top: 0;
}

no-indent + p {
  text-indent: 0 !important;
}


.post a:hover {
  background: $highlight;
}

.post dl,
.post ul,
.post ol {
  // margin: 1.5em;
  padding-left: 1.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.post li {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.post-content:first-child {
  margin-top: 4em;
}

.post-meta {
  max-width: 36rem;
  margin: 2em auto;

  text-align: right;
}

.back-link {
  display: inline-block;
  font-size: .75em;
  padding: 1em;
  text-decoration: none;
  text-transform: uppercase;
}