.post-title {
  margin-top: 0;
  margin-bottom: 4rem;
  font-size: 1rem; 
}

.sans-serif {
  font-family: 'IBM Plex Sans',-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

html {
	font-size: 16px;
}

article
{
	h1 a,
	h2 a,
	h3 a,
	h4 a,
	h5 a,
	h6 a {
		text-decoration: none;
		color: inherit;
		font-size: 1rem;
	}
}

.skip-navigation {
	display: none;
	text-align: center;
	&:focus {
		display: block;
	}
}

.subtitle {
	font-style: italic;
}

a {
	text-decoration: none;
	color: #00449E;
}

ul {
	list-style-type: none;
	li {
		padding-bottom: 4px;
		&:last-child {
			padding-bottom: 0px;
		}
		&:before {
			content: '\2013';
			margin-left: -20px;
			margin-right: 10px;
		}
	}
}

ol {
	li {
		padding-bottom: 4px;
		&:last-child {
			padding-bottom: 0px;
		}
	}
}

figure {
	margin: 0;
	position: relative;
	figcaption {
		@media screen and (min-width: 60em) {
			position: absolute;
			left: -16rem;
			// text-align: right;
			top: 0;
			width: 14rem;
			height: 100%;
			font-size: 0.8rem;
			color: #555;
		}
		@media screen and (max-width: 60em) {
			text-align: center;
			font-size: 0.8rem;
			color: #555;
		}
	}
	&.small {
		text-align: center;
		@media screen and (min-width: 60em) {
			img {
				max-width: 50%;
			}
		}
		figcaption {
			position: relative;
			left: 0;
			width: 100%;
		}
	}
}

.footnotes {
	border-top: 1px solid #CCC;
	margin-top: 5rem;
}
