---
layout: default
---


<section class="flex flex-wrap mt6 mb4">
    

<div class="w-30-ns w-100 mw5-ns">
  <h2 class="mw5-ns f5 mt0 post-title lh-copy">Post</h2>
  <div class="post-meta">
    {% if page.author %}
      <div itemprop="author">{{ page.author }}</div>
    {% endif %}
    <time class="post-date dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time>
  </div>
</div>
<article class="w-70-ns w-100 mt0 mw7 lh-copy post-content">
  {% if page.title != "" %}
    <h1 class="post-title" itemprop="name headline">
      {{ page.title }}
    </h1>
  {% endif %}

    {{ content }}

  </article>

</section>